<h1 class="text-center">About us</h1>
<p class="text-center">We are working on our One Month Rails Pinteresting App</p>
<p class="text-center">Created by <%= link_to "Ethan Suttner", "http://ethansuttner.com" %></p>