<h1 class="text-center">Welcome to Pinteresting</h1>
<div class="jumbotron">
	<p class="text-center"><i>Our site is currently under development</i></p>
	<p class="text-center">Be sure to check back within <%= link_to "one month", "http://onemonth.com" %> and <%= link_to "Sign up", "#", class: "btn btn-primary btn-large"%> to be a beta-tester</p>
</div>